# Pyspark 

- GroupBy 
- Aggregation

In [1]:
from pyspark.sql import SparkSession 

pyspak =  SparkSession.builder.appName("pratice_3").getOrCreate()

df_test_3 = pyspak.read.csv("/home/kurinchiban/Desktop/Pyspark/Pyspark/data_source/test3.csv",header=True,inferSchema=True)

df_test_3.show()

23/07/23 19:27:01 WARN Utils: Your hostname, BTCCHL0016 resolves to a loopback address: 127.0.1.1; using 192.168.1.19 instead (on interface wlp44s0)
23/07/23 19:27:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/07/23 19:27:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [3]:
## Groupby 

df_test_3.groupBy("Name").sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [4]:
## Groupby Departments which give the maximum salary

# df_test_3.groupBy('Salary').min().show()  # max, avg

df_test_3.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [5]:
df_test_3.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [6]:
df_test_3.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [8]:
# Aggregation

df_test_3.agg({'salary':'sum'}).show()

+------------------+
|count(Departments)|
+------------------+
|                10|
+------------------+