In [1]:
import pyspark

In [21]:
# Intial step is to create a spark session 

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pratice").getOrCreate()

In [20]:
spark

In [35]:
### Read a Dataset 

# df_spark = spark.read.csv("Data.csv",header=True)

### Read the file using option 
# Unless we give the infer schema we will get the deafault datatype string 

df_spark = spark.read.option('header','true').csv("Data.csv",inferSchema=True)

df_spark.show()

### Check the schema
df_spark.printSchema()

+-----------+---+----------+
|       Name|Age|Experience|
+-----------+---+----------+
|Kurinchiban| 23|         2|
|    Kishore| 30|        10|
|      Kavin| 18|         0|
+-----------+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [33]:
# df_spark.head(2)

### Selecting the columns 

# df_spark.columns

# df_spark.select("Name").show()

df_spark.select(["Name","Age"]).show()

+-----------+---+
|       Name|Age|
+-----------+---+
|Kurinchiban| 23|
|    Kishore| 30|
|      Kavin| 18|
+-----------+---+

In [34]:
df_spark.describe().show()

+-------+-----------+------------------+-----------------+
|summary|       Name|               Age|       Experience|
+-------+-----------+------------------+-----------------+
|  count|          3|                 3|                3|
|   mean|       null|23.666666666666668|              4.0|
| stddev|       null| 6.027713773341707|5.291502622129181|
|    min|      Kavin|                18|                0|
|    max|Kurinchiban|                30|               10|
+-------+-----------+------------------+-----------------+

In [40]:
## Adding Colums in pyspark dataframe

df_spark = df_spark.withColumn("Experience after 3 year",df_spark['Experience']+3)

df_spark.show()

+-----------+---+----------+-----------------------+
|       Name|Age|Experience|Experience after 3 year|
+-----------+---+----------+-----------------------+
|Kurinchiban| 23|         2|                      5|
|    Kishore| 30|        10|                     13|
|      Kavin| 18|         0|                      3|
+-----------+---+----------+-----------------------+

In [41]:
### Dropt the columns 

df_spark = df_spark.drop("Experience after 3 year")

df_spark.show()

+-----------+---+----------+
|       Name|Age|Experience|
+-----------+---+----------+
|Kurinchiban| 23|         2|
|    Kishore| 30|        10|
|      Kavin| 18|         0|
+-----------+---+----------+

In [46]:
# Rename the columns 

df_spark = df_spark.withColumnRenamed('Name',"New_Name")

In [47]:
df_spark.show()

+-----------+---+----------+
|   New_Name|Age|Experience|
+-----------+---+----------+
|Kurinchiban| 23|         2|
|    Kishore| 30|        10|
|      Kavin| 18|         0|
+-----------+---+----------+